In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/clean/appointments_clean.csv")

In [5]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,doctor_id
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,9
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,43
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,38
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,9
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,44

In [14]:
df.shape

(110527, 15)

In [15]:
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
doctor_id         0
dtype: int64

In [16]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
110522    False
110523    False
110524    False
110525    False
110526    False
Length: 110527, dtype: bool

In [19]:
df_doc = pd.read_csv("../data/clean/doctors.csv")

In [21]:
df_doc.shape

(50, 4)

In [24]:
df_doc

    doctor_id                name specialization          hospital
0           1     Deanna Mckinney     Pediatrics           Detroit
1           2    Priscilla Carter     Cardiology         Waterbury
2           3   Miguel Richardson        General           Hayward
3           4         Juanita Kim        General          Amarillo
4           5       Minnie Nelson        General       San Antonio
5           6        Krin Griffin    Dermatology        Greensboro
6           7        Curtis Price      Neurology         Frederick
7           8       Anthony Myers      Neurology    St. Petersburg
8           9       Martha Murphy        General        Clearwater
9          10        Grace Brewer    Dermatology            Toledo
10         11        Lewis Howell    Dermatology     Miami Gardens
11         12          Joy Howell        General  Colorado Springs
12         13        Wyatt Barnes      Neurology      North Valley
13         14      Lorraine Dixon     Pediatrics        Providence
14         15       Georgia Ortiz    Dermatology             Ennis
15         16      Marcia Collins     Cardiology         Ironville
16         17          Fred Banks    Dermatology          Hartford
17         18     Kenneth Chapman     Pediatrics           Buffalo
18         19        Janet Brooks     Pediatrics            Shiloh
19         20        Ruben Graves        General          El Monte
20         21   Josephine Jackson      Neurology        Cedar Hill
21         22         Aubrey Shaw     Cardiology           Atlanta
22         23         Carl Willis     Cardiology         Rochester
23         24       Ethel Sanchez    Dermatology           Everett
24         25        Megan Jordan     Cardiology       Santa Maria
25         26     Madison Griffin     Cardiology    St. Petersburg
26         27      Robin Lawrence     Cardiology          Edgewood
27         28      Clayton Moreno        General        Waxahachie
28         29    Randall Marshall      Neurology         Baltimore
29         30        Sofia Nelson        General            Peoria
30         31      Bessie Gardner        General         Princeton
31         32          Melvin Kim        General           Madison
32         33       Maurice Adams    Dermatology        Rio Rancho
33         34          Brian Shaw     Pediatrics    Virginia Beach
34         35     Alfredo Jenkins    Dermatology       Great Falls
35         36         Lee Simmons    Dermatology           Chicago
36         37         Georgia Fox        General            Eugene
37         38         Wade Garcia    Dermatology         Charlotte
38         39       Audrey Bryant      Neurology      North Valley
39         40     Clifford Turner        General        Steilacoom
40         41       Scarlett Beck      Neurology            Oxnard
41         42  Salvador Robertson     Pediatrics           Medford
42         43        Penny Fowler        General           Houston
43         44     Beatrice Parker        General         Grapevine
44         45          Eileen Cox     Cardiology            Arvada
45         46        Ramon Torres     Cardiology         New Haven
46         47        Riley Murphy     Cardiology            Peoria
47         48       Harvey Bryant     Cardiology       Duncanville
48         49       Tracy Douglas     Pediatrics            Odessa
49         50         Wendy Brown    Dermatology             Akron